.contato{
    margin: 1.5rem;
}

.contato__titulo{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

