.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url(/src/img/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(/src/img/Menu-selecionado.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__img {
    padding: 1rem 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.titulo-icone {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.87rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1.5rem;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao {
        display: none;
    }

    .lista-menu {
        left: auto;
        top: 90%;
    }

    .lista-menu__item{
        padding: 1.5rem;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .container__img-transparent {
        display: none;
    }

    .opcoes__item:hover {
        background: var(--azul-degrade);
        color: var(--branco);
        cursor: pointer;

        .opcoes__link {
            color: var(--branco);
        }
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .titulo-icone {
        display: block;
        padding: 0 1rem;
    }

    .cabecalho {
        padding: 0 2rem;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 4rem;
    }

    .cabecalho__container-icone {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        text-decoration: none;
        color: var(--preto);
        font-size: 1.25rem;
    }

    .cabecalho__container-icone:hover {
        background: var(--azul-degrade);

        .sacola {
            content: url(/src/img/Sacola-selecionada.svg);
        }

        .usuario {
            content: url(/src/img/Usuário-selecionado.svg);
        }

        -webkit-text-fill-color: var(--branco);
    }
}