.topicos {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1.5rem 0;
}

.topicos__titulo {
    font-size: 1rem;
    font-weight: 300;
}

.topicos__lista {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
}

.topicos__lista__item {
    background-color: var(--laranja);
    font-weight: 600;
    font-size: 0.87rem;
    padding: 1rem 1.5rem;
}

.topicos__lista__link {
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo, .topicos__lista__link {
        font-size: 1.5rem;
    }

    .topicos__lista__item{
        padding: 1.5rem 2rem;
        cursor: pointer;
    }

    .topicos__lista__item:hover{
        background-color: var(--azul-claro);
        transform: scale(1.05);
        /* transition: 100ms; */
    }
}

@media screen and (min-width: 1728px) {
    .topicos{
        padding: 4rem 30vw;
    }
}